<div style="text-align:center">
    <mat-card >
          <form [formGroup]="myFormz">
          <mat-form-field>
            <span class="required" *ngIf="!myFormz.valid">*Required</span><br>
            <input matInput formControlName="name" type="text" placeholder="Name" class="tcf">
          </mat-form-field><br>
          <mat-form-field>
            <span class="required" *ngIf="!myFormz.valid">*Required</span><br>
            <input matInput formControlName="surname" type="text" placeholder="Surname" class="tcf">
          </mat-form-field><br>
          <mat-form-field>
            <span class="required" *ngIf="!myFormz.valid">*Required</span><br>
            <input type="number" matInput formControlName="age" placeholder="Age" maxlength="2" class="tcf">
          </mat-form-field><br>
          <mat-form-field>
            <span class="required" *ngIf="!myFormz.valid">*Required</span><br>
            <input type="email" matInput formControlName="email" placeholder="Email" class="tcf">
          </mat-form-field><br>
          <mat-form-field>
            <span class="required" *ngIf="!myFormz.valid">*Required</span><br>
            <input type="tel" matInput formControlName="phoneNumbers" placeholder="Phone Number" maxlength="10" class="tcf">
          </mat-form-field><br>
            <button (click)="addUser()" [disabled]="!myFormz.valid" mat-flat-button color="primary">Save</button>
          </form>
    </mat-card>
  
    <mat-card *ngFor="let userss of myPeople">
        Name: {{ userss.name }}<br>
        Surname: {{ userss.surname }}<br>
        Age: {{ userss.age }}<br>
        Email: {{ userss.email }}<br>
        Phone Numbers: {{ userss.phoneNumber }}
    </mat-card>
  
  </div>